#l1
  %h4= board_member.name
  - board_member.owned_functions.each do |func|
    %h5= func.name 
    %ul 
      %li 
        Lead: 
        = func.lead.name unless func.nil? or func.lead.nil? 
      %li 
        Co-Lead: 
        = func.colead.name unless func.nil? or func.colead.nil? 
      %li 
        Mentor: 
        = func.mentor.name unless func.nil? or func.mentor.nil? 