%h2 Edit User 
= simple_form_for(@user, :html => { :method => :put, :class => 'form-vertical' }) do |f|
  = f.error_notification
  = display_base_errors @user
  = f.input :first_name, :required => true
  = f.input :last_name
  = f.input :email, :required => true
  = f.button :submit, 'Update', :class => 'btn-primary'

= link_to "Back", :back

