-# TODO: add error-handling display for Users
%h3 Users
%table 
  %thead
    %tr
      %th Email
      %th Name
      %th Roles
      %th
  %tbody
    = render partial: 'users/admin_edit', collection: @users, as: :user
    %tr 
      = simple_form_for(@new_user, url: '/admin#invitation', remote: true, html: {data: {type: :json}}) do |f|
        %td{colspan: 4}
          .row.collapse
            .large-3.columns
              = f.input_field :email, label: false, placeholder: 'Email address', required: true
            .large-3.columns
              -# TODO: determine why having multiple input fields blocks submit-on-return
              -# = f.input_field :first_name, label: false, placeholder: 'First Name (required)', required: true
            .large-3.columns
              -# = f.input_field :last_name, label: false, placeholder: 'Last Name'
            .large-3.columns

.row
  .large-6.columns
    -# TODO: add error-handling display for Functions 
    %h3 Functions
    %table{style: "width:100%;"}
      %thead
        %tr
          %th Function
      %tbody
        = render partial: 'functions/admin_edit', collection: @functions, as: :function 
        %tr
          = simple_form_for(@new_function, remote: true, html: {data: {type: :json}}) do |f|
            %td
              .row.collapse
                .large-8.columns
                  = f.input_field :name, label: false, placeholder: 'Function Name', required: true
  
  .large-6.columns
    -# TODO: add error-handling display for Roles 
    %h3 Roles 
    %table{style: "width:100%;"}
      %thead
        %tr
          %th Role
      %tbody
        = render partial: 'roles/admin_edit', collection: @roles, as: :role 
        %tr
          = simple_form_for(@new_role, remote: true, html: {data: {type: :json}}) do |f|
            %td
              .row.collapse
                .large-8.columns 
                  = f.input_field :name, label: false, placeholder: 'Role Name', required: true

#myModal.reveal-modal.small(data-reveal)
  %h4 Current Job Roles
  %ul.modal-user-roles
  %h4 Add Job Role
  #modal-error 
  %h5 Function 
  = select_tag "new-function", options_from_collection_for_select(@functions, "id", "name"), include_blank: true
  %h5 Role 
  = select_tag "new-role", options_from_collection_for_select(@roles, "id", "name"), include_blank: true
  = button_tag "Add", id: "add-role"
  = button_tag "Cancel", id: "cancel-add-role"
  %a.close-reveal-modal &#215;
  