- link = user == current_user ? edit_user_registration_path(user) : admin_edit_path(user)
%tr(style="vertical-align:top;")
  %td= link_to user.email, link
  %td= link_to user.name, link
  %td.role-edit
    / %span(data-reveal-id="myModal" data-user-id="#{user.id}") edit
    %span(data-user-id="#{user.id}") edit
    %ul.user-roles(data-user-id="#{user.id}" data-user-roles="#{user.functions_roles.to_json}") 
  -# TODO: convert 'Delete User' to icon, with remote method call
  -# %td
  -# = link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user